#categoria{
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    width: 200px;
    text-align: center;
    }
#categoria:hover {
    background-color: #ff3bec;
    cursor: pointer;
    color: black;
}