.error_container:hover{
    border-radius: 17px;
    background-color: #bb97bf;
    margin: 15px;
}

.error-page{
    text-align: center;
    padding: 50px;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.error-page p{
    font-size: 1.5em;
    margin-bottom: 30px;

}
.error-page a{
    text-decoration: none;
    
}

@media (max-width: 768px) {
  .error-page {
    padding: 30px;
  }

  .error-page h1 {
    font-size: 2rem;
  }

  .error-page p {
    font-size: 1.2em;
    margin-bottom: 20px;
  }

  .error-page img {
    max-width: 100%;
    height: auto;
  }

  .error-page a p {
    font-size: 1em;
  }
}
